__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

.env
.venv/
venv/
env/
ENV/

.vscode/
.idea/

*.log
*.sqlite3
*.db
*.pid
*.swp
*.bak
.DS_Store

.cache/
.pytest_cache/

.mypy_cache/
coverage.xml
htmlcov/
*.cover
*.pyc
*.pyo

migrations/
aerich.ini.bak

openapi.json

Thumbs.db
desktop.ini
